:root{
    --var_size_box:calc(45%);
    --var_border_color:linear-gradient(35deg,rgb(10, 54, 150), rgb(9, 190, 145) 60%, rgb(1, 5, 12));

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(
        55deg, black 60%, rgb(09, 29 , 66));
        background-repeat: no-repeat;
    font-family:'Trebuchet MS', sans-serif;
    background-size: auto;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: currentColor;
    border: none;
}
img{
    margin: 0;
    padding: 0;
}
#header{
    color: aqua;
    text-align: center;
    justify-content: center;
    letter-spacing: 5px;
}
.button{
    background-color: black;
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
    padding: 10px;
    margin: 5px;
    color: aqua;
    
    
}
.button:hover{
    background-color: aqua;
    color: black;
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
    padding: 20px;
    margin: 10px;
}
#about{ 
    border: 3px solid transparent;
    display: inline-block;
    position: relative;
    color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 2vw;
    width: var(--var_size_box);
    line-height: calc(20% max-content);
}
#icons{
    display: inline-block;
    position: relative;
    width: var(--var_size_box);
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
   
    background-image:linear-gradient( 
    65deg,
    rgb(9, 29, 66),
    black 60%);
    margin-top: 10px;
}
.icon{
    width: 4.1vw;
    margin-top: 6.5%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 5%;
    
}
#projetcs{
    display: flex;
    flex-direction: row;
    color: aqua;
    width: 100%;
   
}
.pages_img{display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
    border-image: var(--var_border_color) 2;
    width: 25vw;
    height: 23vw;

}
h1{
    width: 10hv;
    color: aqua;
    text-align: center;
    justify-content: center;
   
}
.project{
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 30px;

}
@media screen and (max-width:700px) {
    :root{
        font: 10vh;
    }
    #about{
        padding: auto;
        width: 100%;
        font-size: 90%;
        display: block;
        position: relative;
        margin-top: 35px;
        margin-left: 10%;
        margin-right: 10%;
        width: calc(100% - 25%);
        height: max-content;
    }
    #icons{
        display: block;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        height: max-content;
    }
    .icon{
        width: 4vh;
        margin: 5,5%;
    
    }
    #projetcs{
        align-items: center;
        display: flex;
        flex-direction: column;
        color: aqua;
        width: calc(100% - 50%);
        margin: auto;
    }
    .pages_img{
        align-items: center;
        border: 3px solid white;
        border-image: var(--var_border_color) 2;
        width: 20vh;
        height: auto;
    
    }
    .project{
        align-items: center;
        margin: auto;
        padding-bottom: 30px;
    
    }
}