:root{
    --var_size_box:calc(45%);
    --var_border_color:linear-gradient(35deg,rgb(10, 54, 150), rgb(9, 190, 145) 60%, rgb(1, 5, 12));
    --var_border_color2:linear-gradient(35deg,rgba(0, 0, 0, 0.192), rgb(74, 218, 182) 60%, rgb(43, 86, 161));
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(
        55deg, black 60%, rgb(09, 29 , 66));
        background-repeat: no-repeat;
    font-family:'Trebuchet MS', sans-serif;
    background-size: auto;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: currentColor;
    border: none;
}
img{
    margin: 0;
    padding: 0;
}
#header{
    color: aqua;
    text-align: center;
    justify-content: center;
    letter-spacing: 5px;
}
#header h1{
    text-align: center;
    justify-content: center;
    width: 28ch;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(18),
    blinking 0.6s infinite step-end alternate;
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blinking{
    50%{
        border-color: rgb(55, 128, 150);
    }
}
.button{
    background-color: black;
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
    padding: 10px;
    margin: 5px;
    color: aqua;
    
    
}
.button:hover{
    background-color: aqua;
    color: black;
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
    padding: 20px;
    margin: 10px;
}
#about{ 
    border: 3px solid transparent;
    display: inline-block;
    position: relative;
    color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 1.8vw;
    width: var(--var_size_box);
    line-height: calc(20% max-content);
}
.about-tech{
    margin: auto;
    width: 90%;
}
.about-tech div{
    margin: 10px;
    border: 2px solid white;
    border-image: var(--var_border_color2) 2;
    background-color: linear-gradient(
        55deg, rgb(23, 200, 206) 60%, rgb(9, 30, 70));
    color: aqua;
    padding: 10px;
    transform:scale(1.1)
}
.about-tech button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.about-tech button:after{
    display: inline-block;
    content: "\00d7 fechar";
    color: rgb(255, 0, 0);
    padding: 3px;
}
.hidediv{
    display: none;
    transition: ease-in-out .5s;
}
@keyframes slow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.showdiv{
    display: block;
    animation-name: slow;
    animation-duration: .5s;
}
#icons{
    display: inline-block;
    position: relative;
    width: var(--var_size_box);
    border: 2px solid white;
    border-image: var(--var_border_color) 2;
   
    background-image:linear-gradient( 
    65deg,
    black,
     60%);
    margin-top: 10px;
}
.icon{
    width: 4.1vw;
    margin-top: 6.5%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 5%;
    cursor: pointer;
}
#projetcs{
    display: flex;
    flex-direction: row;
    color: aqua;
    justify-content:center ;
    align-items: center;
    flex-shrink: 1;
    flex-flow: wrap;
}
.pages_img{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
    border-image: var(--var_border_color) 2;
    width: 25vw;
    height: 45vh;

}
h1{
    width: 10hv;
    color: aqua;
    text-align: center;
    justify-content: center;
   
}
.project{
    padding-bottom: 40px;
    padding: 10px;
    width: 27vw;
    
}
.project:hover{
    transform: scale3d(1.1,1.1,0.5);
    transition-duration: .4s;
}
@media screen and (max-width:700px) {
    :root{
        font: 10vh;
    }
    #header h1{
        text-align: center;
        justify-content: center;
        width: 28ch;
        font-size: 23px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 3s steps(18),
        blinking 0.6s infinite step-end alternate;
    }

    #about{
        padding: auto;
        width: 100%;
        font-size: 100%;
        display: block;
        position: relative;
        margin-top: 35px;
        margin-left: 10%;
        margin-right: 10%;
        width: calc(100% - 25%);
        height: max-content;
    }
    #icons{
        display: block;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: max-content;
    }
    .icon{
        width: 7vw;
        justify-content: center;
        align-items: center;
    
    }
    #projetcs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: aqua;
        width: 80%;
        margin: 1em;
    }
    .pages_img{
        align-items: center;
        border: 3px solid white;
        border-image: var(--var_border_color) 2;
        width: 20vh;
        height: auto;
        margin: auto;
    }
    .project{
        align-items: center;
        margin: auto;
        padding-bottom: 30px;
        width: 85vw;
        justify-content: center;
    }
    .project p {
        padding: 2px;
        width: 85vw;
    }
    .project h2{
        position: relative;
        left: auto;
        right: auto;
       translate: 20%;
    }
}