*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
body{
    height: 100%;
    width: 100;
    background-color: rgba(7, 7, 207, 0.171);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding: 10%;
    height: 100%;
    
}
main> *{
    height: 100%;
}
span{
    color: rgb(184, 184, 24);
    
}
main h1 ,input, p, button{
    margin: 1.2em;
}
input{
    height: 1.8em;
    border-radius: 10px;
}
button{
    width: 5.8em;
    height: 3.8em;
    border-radius: 10px;
}
@media screen and (max-width:900px) {
    main h1 ,input, p, button{
        margin: 2.2em;
    }
    input{
        height: 2.8em;
        border-radius: 10px;
    }
    button{
        width: 6.8em;
        height: 4.8em;
    }
}