*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
#head{ 
    flex-direction: row;
    margin:5vh;
    width: 70%;
    height: 30%;
    padding: 5vh;
    background-color: rgb(70, 170, 70);
    border-radius: 30px;
}
#painel{
    flex-direction: row;
    text-align: center;
    position: absolute;
    border-radius: 30px;
}
#result{
   
    flex-direction: row;
    width: 50vh;
    position: relative;
    background-color: rgb(70, 170, 70);
    border-radius: 20px;
    display: inline-block;
    position: fixed;
    bottom: 30vmax;
    border: red;
    left: calc(100% - 53vh);
    
    text-align: center;
    
}
.inputs{
   
    flex-direction: row;
    position: relative;
    
}
[value="Converter"]{
    width: 50vmax;

    display: inline-block;
}
input , select{
    margin: 3vh;
    font-size: 3vh;
    width: 50vh;
    height: 10vh;
    text-align: center;
    text-transform: uppercase .5s;
    background-color: aliceblue;
    border-radius: 15px;
    line-height: 50%;
    align-items: center;
}
select{
    overflow-y:scroll;
}
[value="Converter"]:hover{
    background-color: rgb(70, 170, 70);
    font-size: 4vh ;
    letter-spacing: 3px;
    transition: all .3s;
}
[type="number"]{
    background-color: rgb(212, 212, 212);
}

