*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: rgb(34, 34, 34);
}
#head{ 
    flex-direction: row;
    margin:5vh;
    width: 70%;
    height: 30%;
    padding: 5vh;
    background-color: rgb(70, 170, 70);
    border-radius: 30px;
}
#painel{
    flex-direction: row;
    text-align: center;
    border-radius: 30px;
   justify-content: center;
}
.coin{
    position: absolute;
    left: 100px;
    float: left;
    width: 100px;
    
}
#result{
    padding-top: 8px;
    font-size: 35px;
    flex-direction: row;
    width: 80vw;
    height: 30vh;
    position: relative;
    background-color: rgb(70, 170, 70);
    border-radius: 20px;
    display: inline-block;
    position: fixed;
    bottom: 20vh;
    left: calc(100% - 90%);
    text-align: center;
    
}
.inputs{
   
    flex-direction: row;
    position: static;
    align-self: center;
}
[value="Converter"]{
    width: 50vmax;

    display: inline-block;
}
input , select{
    margin: 3vh;
    font-size: 3vh;
    width: 50vh;
    height: 10vh;
    text-align: center;
    text-transform: uppercase .5s;
    background-color: aliceblue;
    border-radius: 15px;
    line-height: 50%;
    align-items: center;
}
select{
    overflow-y:scroll;
}
[value="Converter"]:hover{
    background-color: rgb(70, 170, 70);
    font-size: 4vh ;
    letter-spacing: 3px;
    transition: all .3s;
}
[type="number"]{
    background-color: rgb(212, 212, 212);
}
title{
    visibility: hidden;
    padding: 15px;
}
.data-show{
    opacity: 1;
}
.data-hide{
    opacity: 0;
}
@media screen and (max-width:500px){
    input , select{
        justify-content: space-between;
        margin: 3vh;
        font-size: 3vh;
        width: 40vh;
        height: 10vh;
        text-align: center;
        text-transform: uppercase .5s;
        background-color: aliceblue;
        border-radius: 15px;
        line-height: 50%;
        align-items: center;
    }

    #result{
        font-size: 15px;
        flex-direction: row;
        padding-top: 5px;
        width: 45vh;
        height: 10vh;
        position: relative;
        background-color: rgb(70, 170, 70);
        border-radius: 20px;
        display: inline-block;
        position: fixed;
        bottom: 12vmax;
        left: 11px;
        margin: 0;
        text-align: center;
        
    }

    title{
        visibility: hidden;
        
    }
    .coin{
        position: absolute;
        left: 10px;
        float: left;
        width: 48px;
    }
}
