body{
    background-color: rgb(27, 26, 26);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(134, 66, 134);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
}
.main input{
    padding: 1em;
    margin: 1em;
    width: 35vw;
    height: 10vh;
    border: 1px rgba(128, 0, 128, 0.342) solid;
    border-radius: 25px;
    background-image:rgb(2,0,36);
    background: linear-gradient(90deg, rgb(168, 168, 173) 0%, rgba(109, 99, 112, 0.785) 100%);
    color: rgb(247, 247, 247);
}
.btn{
    padding: 1em;
    margin: 1em;
    width: 35vw;
    height: 10vh;
    border: 1px purple solid;
    border-radius: 25px;
    
}
.btn:hover{
    letter-spacing: 1px;
    transform: scale3d(1.1,1.1,1.1);
    transition-duration: 3s;
}
img{
    display: none;
    border: 1px solid purple; 
    padding: 10px;
}
@media screen and (max-width:700px)  {
    .main input{
        padding: .5em;
        margin: .5em;
        width: 75vw;
        height: 7vh;
        border: 1px purple solid;
        border-radius: 25px;
        background-image:rgb(2,0,36);
        background: linear-gradient(90deg, rgb(168, 168, 173) 0%, rgba(92, 83, 95, 0.785) 100%);
        color: rgb(247, 247, 247);
    }

    .btn{
        padding: .3em;
        margin: 1.3em;
        width: 35vw;
        height: 7vh;
        border: 1px purple solid;
        border-radius: 25px;
        
    }
}