.container{
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
body{
 background-image: url(Churrasco!!!!_\(4474513078\).jpg);
background-size: cover;
background-repeat: no-repeat;
}
button{
border-radius: 10px;
color: aliceblue;
background-color: brown;
margin-top: 10px;
font-size: 15px;
}
@media screen and (max-width:900px){
    body{
        background-size: auto;
    }
}
